body {
  font-family: Optima, segoe UI;
  background-color: #503291;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.calculator,
.history {
  background-color: #eb3c96;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #503291;
}

input,
button,
select {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #503291;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1f0c46;
}

.result {
  margin-top: 15px;
  font-size: 18px;
}

.info {
  margin-top: 10px;
  font-size: 14px;
  color: #333333;
}

/* Estilização do box de histórico */
#historico-box {
  width: 100%;
  max-width: 500px;
}

#historico-box h4 {
  text-align: center;
  margin: 0 0 10px 0;
}

#historico-table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

#historico-table th,
#historico-table td {
  border: 1px solid #503291;
  padding: 8px;
  text-align: center;
}

#historico-table th {
  background-color: #503291;
  color: #fff;
}

#historico-table td {
  background-color: #eb3c96;
  color: #503291;
}
.calculator h1 {
  text-align: center; /* Centraliza o texto */
  margin: 0; /* Remove margens padrão */
  padding-bottom: 20px; /* Ajusta o espaçamento abaixo do título, se necessário */
}

#creator-box {
  bottom: 10px; /* Distância do topo */
  left: 10px; /* Distância da borda direita */
  background-color: #503291; /* Cor de fundo branca */
  padding: 1px 10px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para efeito de sobreposição */
  font-size: 12px; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto (ajustar conforme desejado) */
  z-index: 1000; /* Garante que o box fique acima de outros elementos */
}
